.home-background {
background: linear-gradient(rgba(15, 23, 42, 0.6), rgba(15, 23, 42, 0.6)), 
              url("./assets/ImageHome.jpg");
  height: calc(100vh - 80px);
  width: 100%;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 20%);
  border-radius: 20px;
}