.nav-blur {
  background-color: #0f172a;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(168, 85, 247, 0.3);
}

.diagonal-gradient {
  background: linear-gradient(135deg, #6366f1 0%, #a855f7 100%);
}

.gradient-text-alt {
  background: linear-gradient(to right, #6366f1, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}


.invert {
  filter: invert(1);
}

.text-small-spaced {
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.gradient-hover {
  background: linear-gradient(45deg, #a855f7, #ec4899);
  transition: transform 0.3s ease;
}

.gradient-hover:hover {
  transform: scale(1.05);
}